{% extends 'base.html.twig' %}

{% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/000950d337.js"></script>
{% endblock %}

{% block title %}Authentication{% endblock %}

{% block body %}
    {% block navbar %}
        {{ include('@JspAuthentication/parts/navbar.html.twig') }}
    {% endblock %}
    <div class="container" style="padding-top: 75px;">
        {{ include('@JspAuthentication/parts/error-output.html.twig') }}
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function () {
            let body = $('body');

            /** Popover / Tooltip Init */
            body.popover({
                selector: '[data-toggle="popover"]',
                html: true,
                container: 'body',
                viewport: 'body'
            });

            body.tooltip({
                selector: '[data-toggle="tooltip"]',
                html: true,
                container: 'body',
                viewport: 'body'
            });
        })
    </script>
{% endblock %}
