{% extends '@JspAuthentication/base.html.twig' %}

{% block title %}
    {{ ('jsp.authentication.login')|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ ('jsp.authentication.logged_in_as')|trans }}{{ app.user.username }}, <a href="{{ path('jsp_logout') }}">{{ ('jsp.authentication.logout')|trans }}</a>
        </div>
    {% else %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputLogin">{{ ('jsp.authentication.field.login')|trans }}</label>
        <input type="text" value="{{ last_login }}" name="login" id="inputLogin" class="form-control" required autofocus>
        <label for="inputPassword">{{ ('jsp.authentication.field.password')|trans }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
        {# See https://symfony.com/doc/current/security/remember_me.html #}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        {# <div class="mb-3"> #}
            {# <a class="float-right" href="{{ path('jsp_register') }}">{{ ('jsp.authentication.register')|trans }}</a> #}
        {# </div> #}

        <button class="btn btn-lg btn-primary" type="submit">
            {{ ('jsp.authentication.login')|trans }}
        </button>
    {% endif %}
</form>
{% endblock %}
