{% set class = '' %}
{% if btn_class is defined %}
    {% set class = btn_class %}
{% endif %}

<a class="{{ class }}" href="{{ path('jsp_login') }}">
    <i class="fas fa-sign-in-alt"></i> {{ ('jsp.authentication.login')|trans }}
</a>

