<div class="d-inline d-lg-none">
    <div class="user-menu-btn">
        <div class="dropdown float-right">
            {% if not app.user %}{#show only if not logged in#}
                {{ include('@JspAuthentication/parts/user-menu/user-menu.login-link.html.twig', {'btn_class': 'btn btn-outline-light'}) }}
            {% else %}{#show only for logged-in user#}
                <button class="btn btn-light btn-sm navbar-btn dropdown-toggle" type="button" id="user-logging-box"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true"
                >
                    {{ include('@JspAuthentication/parts/user-menu/user-menu.main-view.html.twig') }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user-logging-box">
                    {{ include('@JspAuthentication/parts/user-menu/user-menu.items.html.twig') }}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
