<li class="nav-item dropdown d-none d-lg-block">
    {% if not app.user %}{#show only if not logged in#}
        {{ include('@JspAuthentication/parts/user-menu/user-menu.login-link.html.twig', {'btn_class': 'nav-link'}) }}
    {% else %}{#show only for logged-in user#}
        <a class="nav-link dropdown-toggle" href="#" id="user-logging-box" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ include('@JspAuthentication/parts/user-menu/user-menu.main-view.html.twig') }}
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-logging-box">
            {{ include('@JspAuthentication/parts/user-menu/user-menu.items.html.twig') }}
        </div>
    {% endif %}
</li>
