<h6 class="dropdown-header">{{ ('jsp.authentication.logged_in_as')|trans }} <strong>{{ app.user.username }}</strong></h6>

{#<a class="dropdown-item" href="#">...</a>#}

<div class="dropdown-divider"></div>

<a class="dropdown-item" href="{{ path('jsp_logout') }}">
    <i class="fa fa-sign-out" aria-hidden="true"></i> {{ ('jsp.authentication.logout')|trans }}
</a>
