<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    {{ include('@JspAuthentication/parts/user-menu/user-menu.btn.html.twig') }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-sm-2">
            {{ include('@JspAuthentication/parts/user-menu/user-menu.nav-ele.html.twig') }}
        </ul>
    </div>
</nav>
